<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker - home</title>

        <!-- Oswald font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

        <!-- Montserrat font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

        <!-- link to my CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>


    <div class="wrapper">
        <div class="inner-wrapper">

            <!-- navigation bar -->
            <header>
                <h1 id="logo">Expense Tracker</h1>
                <nav>
                    <ul class="nav_links">
                        <li><a href="{{ url_for('signin') }}">sign in</a></li>
                        <li><a href="{{ url_for('signup') }}"><button>create account</button></a></li>
                    </ul>
                </nav>
            </header>

            <div class="web_content">
                <div class="content">
                    <div class="text-container">
                        <!-- body content -->
                        <h1>Track Your <br><span class="underline">Expenses</span><br> Without <br> Stress
                        </h1> <br>
                        <p>
                            keep your eye on your daily <br>
                            expenses. 
                        </p> <br>
                        <a href="https:twitter.com/isaactrust447">
                            <button class="btn">contact us</button>
                        </a>
                    </div>

                    
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/image1-removebg-preview.png') }}" alt="expense tracker image">

                    </div>

                </div>

                
        
            </div>
        </div>
    </div>

</body>
</html>