<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker - signin</title>

        <!-- Oswald font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

        <!-- Montserrat font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

        <!-- link to my CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <div class="wrapper">

        <header class="ex">
            <a href="{{ url_for('home') }}" style="text-decoration: none;"><h1 id="logo">Expense Tracker</h1></a>
        </header>

        <div>
            <div class="signin">
                {% if error %}
                <div id="signinError" style="color: red;">{{ error }}</div>
                {% endif %}
                {% if success %}
                <div id="signinError" style="color: green;">{{ success }}</div>
                {% endif %}

                <form action="/login" method="post">
                    <label for="first">
                        email:
                    </label>
                    <input type="email"
                    id="email"
                    name="email"
                    placeholder="Enter your email" required>

                    <label for="password">
                        password:
                    </label>
                    <input type="password"
                    id="password"
                    name="password"
                    placeholder="Enter your password">
        
                    <div class="sign-btn">
                        <button type="submit">
                        submit
                        </button>
                    </div>
                    
                </form>
                <p>
                    not registered?
                    <a href="{{ url_for('signup') }}"
                    style="text-decoration: none;">
                    create an account
                    </a>
                </p>
            </div>
           
        </div>
       
    </div>

</body>
</html>
